//  Buttons color

@mixin buttons($map) {

    @each $key,
    $color in $map {
        &.#{$key} {
            background-color: $color;
        }
    }
}


// Flex base
@mixin flex($disp: flex, $dir: null, $justify: null, $align: center) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    @content;
}


// Img resize
@mixin imgSize($disp: block, $mside: auto) {
    display: $disp;
    margin-left: $mside;
    margin-right: $mside;
    @content;
}

// center margin
@mixin autoMargin {
    margin-left: auto;
    margin-right: auto;
    @content;
}

// IMG

@mixin image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%;
    @content;
}


// Media Query OWN
@mixin mq($size) {
    @if $size==$breakpoint {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}

@keyframes headerImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.15;
    }
}

@keyframes headerTitleBigScreen {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes unvisible {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}