// Colors

$white: #fff;
$grey: #777;
$black: #2C2F35;

$primary-color: #29C1C3;
$secondary-color: #878D94;
$dark-color: #202B36;

//  Fonts
$font-stack-primary: 'Manrope',
sans-serif;

// Breakpoints
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1023px;
$bp-xlarge: 1250px;