// Colors

$white: #fff;
$grey: #777;
$black: #2C2F35;

$primary-color: #29C1C3;
$primary-color-transparent: rgba(41, 193, 195, 0.705);
$secondary-color: #5d6166;
$dark-color: rgb(20, 36, 53);
$bgc-color: #9b9b9b18;

//  Fonts
$font-stack-primary: 'Manrope',
sans-serif;

// Breakpoints
$bp-medium: 768px;
$bp-large: 900px;
$bp-xlarge: 1250px;