// Abilities ----------------------------------------------------------------------------------
// Abilities ----------------------------------------------------------------------------------
// Abilities ----------------------------------------------------------------------------------


.abilities {
    @include flex($dir: column, $align: center);
    margin: 50px 0 25px;
    padding: 50px 0;
    background-color: $dark-color;

    .abilitieContainer {
        @include flex($dir: column);
        margin: 20px 0;
        width: 80%;
        text-align: center;
        opacity: 0;
        transform: translateY(30%);
        transition: .6s;

        &:nth-child(2) {
            transition-delay: .2s;
        }

        &:nth-child(3) {
            transition-delay: .4s;
        }

        img {
            height: 70px;
        }

        &:nth-child(1) img {
            transform: translateX(5px);
        }
    }

    p {
        color: #eee
    }
}

@media (min-width: $bp-medium) {

    .abilities {
        @include flex($dir: row, $align: flex-start, $justify: center);

        .abilitieContainer {
            margin: 0 5px;
            max-width: 300px;

            @media (min-width: $bp-large) {
                margin: 0 30px
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}