/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}


body {
    background-color: white;
}





// HEADER

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    background-color: $bgc-color;

    .description {
        width: 100%;
        text-align: center;

        h1,
        h2 {
            margin: 8px 0;
        }

        a.button {
            display: inline-block;
        }
    }
}

@media (min-width: $bp-large) {
    .header {
        justify-content: center;
        align-items: flex-start;

        .description {
            position: absolute;
            top: 35%;
            left: 15%;
            width: auto;

            h1 {
                text-align: left;
            }

            h1:nth-child(1) {
                font-size: 4.2rem;
                margin-bottom: -20px;
                margin-left: -50px;
                animation: headerTitleBigScreen 3s both;
            }

            h1:nth-child(2) {
                animation: headerTitleBigScreen 3s 0.5s both;
            }

            h2 {
                text-align: right;
                animation: headerTitleBigScreen 3s 1s both;
            }
        }
    }
}

// MAIN



.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

// Footer
footer {
    @include flex($dir: row, $justify: space-around);
    height: 50px;

    p {
        font-size: 0.8rem;
    }

    nav {
        display: none;
    }

    .socials {
        @include flex($dir: row);

        svg {
            box-sizing: content-box;
            padding: 5px 10px;
            fill: #aaa
        }
    }
}