// PROJECTS ----------------------------------------------------------------------------------
// PROJECTS ----------------------------------------------------------------------------------
// PROJECTS ----------------------------------------------------------------------------------


.portfolio {

    ul {
        @include flex;
        color: $secondary-color;
        margin: 20px 0;
        padding: 0;

        li {
            padding: 10px 15px;
            transition: .4s;
            cursor: pointer;
            text-align: center;

        }

        li:nth-child(2) {
            border-left: 1px solid $secondary-color;
        }

        li:nth-child(3) {
            border-left: 1px solid $secondary-color;
        }



        li:nth-child(1):hover,
        li:nth-child(2):hover,
        li:nth-child(3):hover {
            color: $primary-color;
        }

        li.checked,
        li.checked:hover {
            color: $primary-color;
        }
    }

    article {
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 30px;

    }

    .project {
        display: none;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
        box-shadow: 5px 15px 10px 0px $dark-color, 0px 0px 2px 0px $dark-color;
        max-width: 250px;
        margin: 15px;
        transform: translateY(50%);
        opacity: 0;
        transition: 0.6s;
        cursor: default;
        overflow: hidden;

        &:hover {
            transform: scale(1.05);
            box-shadow: 15px 25px 10px 0px $dark-color, 0px 0px 2px 0px $dark-color;
        }

        img {
            display: inline-block;
            width: 100%;
            border-radius: 3px 3px 0 0;
            box-shadow: 0 1px 2px $primary-color;
        }

        .buttons {
            @include flex($justify: center);
            width: 100%;
            margin-top: auto;

            a {
                text-align: center;
                flex-basis: 40%;
                margin: 0 5px 15px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &.visible {
            animation: visible .3s .3s linear both;
        }

        &.unvisible {
            animation: unvisible .5s linear both;
        }
    }

    h3 {
        margin: 30px 0 0;
        text-align: center;
        font-size: 1.1rem;
    }

    p {
        margin: 10px 0 15px;
        padding: 0 10px;
        text-align: center;
        font-size: 0.8rem;
    }

    h2 {
        text-align: center;
        margin: 70px 0 0;
    }
}



// ASIDE SCHOOLS


.schools {
    @include flex($dir: row, $justify: center);
    padding: 40px 0 10px;

    img {
        max-height: 60px;
        margin: 0 20px;
    }
}

@media (min-width: $bp-medium) {
    .portfolio {

        p {
            font-size: 0.9rem;
        }
    }
}