// PROJECTS ----------------------------------------------------------------------------------
// PROJECTS ----------------------------------------------------------------------------------
// PROJECTS ----------------------------------------------------------------------------------


.portfolio {

    ul {
        @include flex;
        color: $secondary-color;
        margin: 20px 0;
        padding: 0;

        li {
            padding: 5px 10px;
            transition: .3s;
            cursor: pointer;


        }

        li:nth-child(1) {
            border: 1px solid $secondary-color;
            border-right: none;
            border-radius: 5px 0 0 5px;
        }

        li:nth-child(2) {
            border-top: 1px solid $secondary-color;
            border-bottom: 1px solid $secondary-color;
        }

        li:nth-child(3) {
            border: 1px solid $secondary-color;
            border-left: none;
            border-radius: 0 5px 5px 0;
        }

        li.checked {
            color: white;
            background-color: $primary-color;
            border-color: $primary-color;
        }

        li:nth-child(1):hover,
        li:nth-child(2):hover,
        li:nth-child(3):hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    article {
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 30px;
    }

    .project {
        display: none;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
        box-shadow: 5px 15px 10px $dark-color;
        max-width: 250px;
        margin: 15px;
        transition: 0.3s;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            transform: scale(1.1);
            box-shadow: 15px 25px 10px $dark-color;
        }

        img {
            display: inline-block;
            width: 101%;
            border-radius: 3px 3px 0 0;
            box-shadow: 0 1px 2px $primary-color;
        }

        &.visible {
            animation: visible .3s .3s linear both;
        }

        &.unvisible {
            animation: unvisible .5s linear both;
        }
    }

    h3 {
        margin: 30px 0 0;
        text-align: center;
    }

    p {
        margin: 10px 0 30px;
        padding: 0 5px;
        text-align: center;
    }

    h2 {
        text-align: center;
        margin: 70px 0 0;
    }
}



// ASIDE SCHOOLS


.schools {
    @include flex($dir: row, $justify: center);
    padding: 40px 0 10px;

    img {
        max-height: 60px;
        margin: 0 20px;
    }
}

@media (min-width: $bp-medium) {
    .portfolio {
        p {
            font-size: 0.9rem;
        }
    }
}