// PROJECTS SECTION ---------------------------------------------------------------------------
// PROJECTS SECTION ---------------------------------------------------------------------------

.latestProject {
    background-color: $bgc-color;
    overflow-x: hidden;
    padding: 30px 0;
}

.latestProjectWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .projectImages {
        position: relative;
        height: 250px;
        margin: 15px 0;
        perspective: 800px;
        perspective-origin: 100% 100%;
        opacity: 0;
        transform: translateX(-50%);
        transition: .6s ease-out;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 90%;
            width: auto;
            transform: rotateY(20deg) rotateX(0deg) translate(-60%, -50%);
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
            transition: .4s;
            cursor: pointer;

            &:nth-child(2) {
                top: calc(50% - 5px);
                left: calc(50% + 25px)
            }

            &:nth-child(3) {
                left: calc(50% + 50px);
                top: calc(50% - 10px)
            }

        }

        &.clicked {
            img {
                transform: translateX(-50%);
                height: 70%;

                &:nth-child(1) {
                    top: 0;
                    left: -70px
                }

                &:nth-child(2) {
                    top: 0;
                    left: 70px
                }

                &:nth-child(3) {
                    left: 0;
                    top: 30%
                }
            }
        }

    }

    .description {
        @include flex($dir: column);
        opacity: 0;
        transform: translateX(50%);
        transition: .6s ease-out;
    }

    p {
        text-align: center;
        width: 80%;
    }

    a:hover {
        color: white
    }

    a:nth-last-of-type(1) {
        margin-top: 5px;
    }
}

@media (min-width: $bp-medium) {
    .latestProjectWrapper {
        .projectImages {
            &.clicked {
                img {
                    height: 90%;


                    &:nth-child(1) {
                        top: 0;
                        left: -170px
                    }

                    &:nth-child(2) {
                        top: 0;
                        left: 170px
                    }

                    &:nth-child(3) {
                        left: 0;
                        top: 0
                    }
                }
            }

        }

        .description {
            transition-delay: 0.5s;

            p {
                text-align: center;
                width: 60%;
            }
        }
    }
}



@media (min-width: $bp-large) {
    .latestProjectWrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 80%;
        max-width: 1100px;

        .projectImages {
            flex-basis: 50%;

            img {
                height: 110%;
                top: 40%;

                &:nth-child(2) {
                    top: calc(40% - 5px);
                    left: calc(50% + 25px)
                }

                &:nth-child(3) {
                    left: calc(50% + 50px);
                    top: calc(40% - 10px)
                }
            }


            &.clicked {
                img {
                    height: 90%;

                    &:nth-child(1) {
                        top: -75px;
                        left: calc(50px)
                    }

                    &:nth-child(2) {
                        top: -25px;
                        left: calc(50px + 30%)
                    }

                    &:nth-child(3) {
                        left: calc(50px + 60%);
                        top: 25px
                    }
                }
            }

        }

        .description {
            @include flex($dir: row);
            flex-wrap: wrap;
            width: 50%;

            h2 {
                text-align: left;
                width: 100%;
            }

            p {
                padding-right: 70px;
                text-align: left;
                width: 100%;
            }
        }



        a:hover {
            color: white
        }

        a {
            margin-left: 5px;
            margin-right: 5px;
        }

        a:nth-last-of-type(1) {
            margin-top: 30px;
        }
    }
}