// PROJECTS SECTION ---------------------------------------------------------------------------
// PROJECTS SECTION ---------------------------------------------------------------------------

.latestProject {
    background-color: $bgc-color;

    padding: 30px 0;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .projectImages {
        position: relative;
        height: 250px;
        margin: 15px 0;
        perspective: 800px;
        perspective-origin: 100% 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 90%;
            width: auto;
            transform: rotateY(20deg) rotateX(0deg) translateX(-60%);
            box-shadow: 0 0 3px 0 black;
            transition: .4s;

            &:nth-child(2) {
                top: -5px;
                left: 25px
            }

            &:nth-child(3) {
                left: 50px;
                top: -10px;
            }

        }

        &.clicked {
            img {
                transform: translateX(-50%);
                height: 70%;

                &:nth-child(1) {
                    top: 0;
                    left: -70px
                }

                &:nth-child(2) {
                    top: 0;
                    left: 70px
                }

                &:nth-child(3) {
                    left: 0;
                    top: 30%
                }
            }
        }

    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        text-align: center;
        width: 90%;
    }

    a:hover {
        color: white
    }

    a:nth-last-of-type(1) {
        margin-top: 5px;
    }
}