// -----------------------------------------------------------------
// ------------------- Skills --------------------------------------
// -----------------------------------------------------------------

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    box-shadow: 0 -1px 4px 2px $secondary-color;
}

.skills {
    padding: 0 0 30px 0;

    a {
        position: relative;
        padding: 5px 0;
        font-size: .7rem;
        margin-bottom: 20px;

        span {
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            animation: checkMore 2s infinite linear both;
        }
    }

    ul {
        display: flex;
        color: $secondary-color;
        margin: 20px 0;
        padding: 0;

        li {
            padding: 10px 15px;
            cursor: pointer;
            transition: .4s;
        }



        li:nth-child(2) {
            border-left: 1px solid $secondary-color;
        }

        li.checked {
            color: $primary-color;
        }
    }

}

@keyframes checkMore {
    0% {}

    15% {
        text-shadow: 0 5px;
    }

    30% {
        text-shadow: 0 5px, 0 10px;
    }

    45% {
        text-shadow: 0 5px, 0 10px;
    }

    60% {
        text-shadow: 0 5px;
    }

    75% {
        text-shadow: none;
    }


}



.skillContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.6s ease-out;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        transform: translateY(30%);
        opacity: 0;
    }

    img {
        width: 75px;
    }

    .imgBorder {
        margin-top: 20px;
        border: 3px solid $primary-color;
        padding: 30px;
        border-radius: 50%;
    }

    &.visible {
        animation: visible .3s .3s linear both;
    }

    &.unvisible {
        animation: unvisible .3s linear both;
    }

    p {
        width: 80%;
    }


    .images {
        margin: 20px 0;

        img {
            margin: 10px;
        }
    }
}

@media (min-width: $bp-medium) {
    .skills {
        article {
            @include flex($justify: center, $align: flex-start);
            flex-wrap: wrap;
            width: 90%;
            max-width: 1100px;
        }

        .skillContainer {
            flex-basis: 33%;

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.4s;
            }

            &:nth-child(4) {
                flex-basis: 50%;
            }

            .imgBorder {
                margin-top: 20px;
                border: 3px solid $primary-color;
                padding: 30px;
                border-radius: 50%;
            }

            p {
                width: 90%;
            }
        }
    }


}